{% extends "_layout" %}

{% js %}
window.onload = function() {
    let a = Array.apply(null, document.querySelectorAll(".entry > *"));
    a.forEach((el, i) => {
        let d = (i * 0.1);
        el.style.animationDelay = d + "s";
        el.classList.add("in");
    })  
}
{% endjs %}

{% set code = false %}

{% block content %}
<main class="entry entry--{{ entry.type }}">

    <div class="entry__meta">
        <a href="javascript:history.back();">&larr; Tilbake</a>
    </div>
    <h2>{{ entry.title }}</h2>
    <div class="entry__excerpt">{{ entry.excerpt }}</div>

    {% set links = entry.links.all() %}
    {% if links|length %}
    <div class="entry__meta">
        <div class="entry__links">
            {% for link in links %}
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAsElEQVRIie2SzQ3CMAxGH7AEdCVaMQFrkAFQJZYCOkCnIb1wKgcMWJZT/noAKU+yIn1O7C9xIJP5O1ZAA3RAb8Ji8x1wBKpU8Z1z6J0GOmrPeQ+cgQ1QDF/UpQCC1OiBUicbEcMHhS1Bah20GEVcmM1Dz5B6vrloJ4CpSU6+tQ/MlLl7g1bWtdPwldDcarRarHgMOTDOkJd2Q81433SbclFynX50Dj1rEIG95zyT+XEuFRpXEhVovf0AAAAASUVORK5CYII="/> <a href="{{ link.link_url }}">{{ link.link_text }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="entry__body">
        {% for block in entry.matrix.all() %}
        <div class="entry__block entry__block--{{ block.type }}">

        {% if block.type == "text" %}
            {{ block.redactor }}

        {% elseif block.type == "media" %}
            {% set image = block.media.one() %}
            {% if image %}
            <img src="{{ image.getUrl('entry') }}" width="{{ image.getWidth('entry') }}" height="{{ image.getHeight('entry') }}" alt="{{ image.alt }}">
            {% endif %}

        {% elseif block.type == "code" %}
            {% set code = true %}
            <pre>
<code class="language-html">{{ block.code }}</code>
            </pre>
        {% endif %}

        </div>
        {% endfor %}
    </div>

</main>

{% if code == true %}
{% css %}
    code[class*=language-],pre[class*=language-]{color:#000;background:0 0;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:14px;text-align:left;white-space:pre-wrap;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.4;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:15px 15px 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
{% endcss %}
{% js "/assets/js/prism.js" %}
{% endif %}

{% endblock %}