<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta charset="utf-8"/>
    <title>{{ siteName }}{{ devMode ? " (lokal)" : "" }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@85,600;100,500;100,600;100,900&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/img/lab-favicon{{ devMode ? "-dev" : "" }}-32.png" sizes="32x32">
    <link rel="icon" href="../assets/img/lab-favicon{{ devMode ? "-dev" : "" }}-128.png" sizes="128x128">
    <link rel="icon" href="../assets/img/lab-favicon{{ devMode ? "-dev" : "" }}-192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="../assets/img/lab-favicon{{ devMode ? "-dev" : "" }}-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../assets/img/lab-favicon{{ devMode ? "-dev" : "" }}-180.png" sizes="180x180">
</head>
<body class="{{ craft.app.request.getSegment(1) }}">

    {% include "_includes/header" %}

    {% block content %}
    <main>
        Kunne ikke laste innhold, av en eller annen grunn.
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        Et Natlab<sup>®</sup>-prosjekt.
    </footer>
    {% endblock %}

</body>
</html>