{% set breakpoints = {
    mobile: 480,
    col: 680
} %}
{% set widths = {
    small: breakpoints.mobile,
    standard: breakpoints.col,
    large: 960,
    full: 1920
} %}
{% set sizes = {
    small: {
        mode: 'crop', 
        width: widths.small, 
        height: 400, 
        quality: 70
    },
    standard: {
        mode: 'fit', 
        width: widths.standard,
        quality: 75
    },
    large: {
        mode: 'fit', 
        width: widths.large,
        quality: 75
    },
    full: {
        mode: 'fit',
        width: widths.full,
        quality: 75
    }
} %}

<!DOCTYPE html>
<html lang="nb-NO">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ entry.title }}</title>
    <meta property="og:title" content="{{ entry.title }}">
    <meta name="description" content="{{ entry.share_text != false ? entry.share_text : entry.playground_excerpt != false ? entry.playground_excerpt }}">
    <meta property="og:description" content="Myken kunne blitt en ren sommerøy, hadde ikke Roar Larsen og familien blitt værfaste for 13 år siden.">
    <meta property="og:url" content="SETT INN">
    <meta property="og:type" content="article">
    {% set fbimg = entry.share_image.one() %}
    {% if fbimg %}<meta property="og:image" content="{{ fbimg.getUrl({ mode: 'crop', width: 1200, height: 629, quality: 75 }) }}">{% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Nationen_as">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://ekstra.nationen.no/statisk/media/nationen-logo144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://ekstra.nationen.no/statisk/media/nationen-logo114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ekstra.nationen.no/statisk/media/nationen-logo72.png">
    <link rel="apple-touch-icon-precomposed" href="https://ekstra.nationen.no/statisk/media/nationen-logo57.png">
    <link rel="shortcut icon" href="https://ekstra.nationen.no/statisk/media/nationen-logo32.png">
    <link rel="stylesheet" href="../assets/css/playground.css">
    <link rel="stylesheet" href="https://use.typekit.net/mxb1ziv.css">
    {% css %}
    :root {
        --col: {{ widths.standard }}px;
        --col-small: {{ widths.small }}px;
        --col-large: {{ widths.large }}px;
    }
    {% endcss %}
</head>

<body>

<header>
    <nav class="nav">
        <div class="nav__back">
            <a href="https://www.nationen.no/"><svg viewBox="0 0 41.2 16.2"><line class="st1" x1="1.2" y1="8.1" x2="41.2" y2="8.1"></line><polyline class="st1" points="10.1,15.6 1.2,8.1 10.1,0.6"></polyline></svg></a>
        </div>
        <div class="nav__logo">
            <a href="https://www.nationen.no"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 434.6"><path fill="white" d="M0,0V434.6c55.3-24.6,124.6-39.3,200-39.3S344.7,410,400,434.6V0ZM329.1,105.9l-32,11.3V302.5H276l-30.9-32L121.8,146.7h-2.6V284l32.1,11.3v5.3H70.9v-5.3l32-11.3V116.3L73.1,105.9v-5.3h78l30.5,32,96.5,98.6h2.6v-114l-32-11.3v-5.3H329v5.3Z"></path></svg></a>
        </div>
    </nav>
</header>

<article>
    <header>
        {% set top_media = entry.header_media.one() %}
        <div class="header-media">
            {% if top_media.kind == "image" %}
            <picture>
                <source media="(max-aspect-ratio: 3/4)" srcset="{{ top_media.getUrl({ mode: 'crop', width: 800, height: 1200, quality: 65 }) }}" >
                <img src="{{ top_media.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }}" srcset="{{ top_media.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }} 2400w, {{ top_media.getUrl({ mode: 'fit', width: 1920, quality: 75 }) }} 1920w, {{ top_media.getUrl({ mode: 'fit', width: 1280, quality: 55 }) }} 1280w" sizes="100vw" alt="{{ top_media.alt }}" />
            </picture>
            {% elseif top_media.kind == "video" %}
            <video>
                <source src="{{ top_media.url }}" type="{{ top_media.mimeType }}" playsinline muted loop>
            </video>
            {% endif %}
        </div>
        <h1>{{ entry.title }}</h1>
    </header>

    <div class="leadin col">{{ entry.playground_excerpt }}</div>

    <div class="meta col">
        <div class="authors">
            <div>Tekst: <a href="mailto:fredrik.holtekjolen@nationen.no">Fredrik Holtekjølen</a></div>
            <div>Foto: <a href="mailto:vilma.taubo@nationen.no">Vilma Taubo</a></div>
            <div>Utivkling: <a href="mailto:jarand.ullestad@nationen.no">Jarand Ullestad</a></div>
        </div>
    </div>

    {% for block in entry.playground_matrix.all() %}

    {% if block.type == "text" %}
    <div class="col">
        {{ block.text_content }}
    </div>
    {% endif %}

    {% if block.type == "media" %}
    {% set size = block.size.value %}
    {% set file = block.media.one() %}
    <div class="col{{ size != "standard" ? " col--#{size}" }} col--expand">
        <figure>
            {% if file.kind == "image" %}
            <picture>
                <source media="(max-width: {{ breakpoints.mobile }}px)" srcset="{{ file.getUrl({ mode: 'fit', width: breakpoints.mobile, quality: 55 }) }}" >
                <source media="(max-width: {{ breakpoints.col }}px)" srcset="{{ file.getUrl({ mode: 'fit', width: breakpoints.col, quality: 60 }) }}" >
                <img src="{{ file.getUrl( sizes[size] ) }}" srcset="{{ file.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }} 2400w, {{ file.getUrl({ mode: 'fit', width: 1920, quality: 75 }) }} 1920w, {{ file.getUrl({ mode: 'fit', width: 1280, quality: 75 }) }} 1280w, {{ file.getUrl({ mode: 'fit', width: 960, quality: 75 }) }} 960w, {{ file.getUrl({ mode: 'fit', width: 960, quality: 75 }) }} 960w, {{ file.getUrl({ mode: 'fit', width: 680, quality: 75 }) }} 680w, {{ file.getUrl({ mode: 'fit', width: 480, quality: 75 }) }} 480w" sizes="{{ size != "full" ? "#{widths[size]}px" : "100vw" }}" alt="{{ file.alt }}" />
            </picture>
            {% elseif file.kind == "video" %}
            <video>
                <source src="{{ file.url }}" type="{{ file.mimeType }}" playsinline muted loop>
            </video>
            {% endif %}
            {% if block.caption is not empty %}
            <figcaption>{{ block.caption }}</figcaption>
            {% endif %}
        </figure>
    </div>
    {% endif %}

    {% if block.type == "image_two" %}
    {% set images = block.images.all() %}
    <div class="col col--full">
        <figure class="image-double">
            {% for image in images %}
            <picture>
                <img src="{{ image.getUrl({ mode: 'fit', height: 640, quality: 70 }) }}" alt="{{ image.alt }}" />
            </picture>
            {% endfor %}
            {% if block.caption is not empty %}
            <figcaption>{{ block.caption }}</figcaption>
            {% endif %}
        </figure>
    </div>
    {% endif %}

    {% if block.type == "html" %}
        {{ block.code|raw }}
    {% endif %}

    {% if block.type == "visual_text" %}
    <div class="story__trigger">
        <div>{{ block.text_content }}</div>
    </div>
    {% endif %}

    {% if block.type == "visual_media" %}
    {% set file = block.media.one() %}
    {% set dir = file.width < file.height ? "portrait" : "landscape"  %}
    <div class="story__background">
        {% if file.kind == "image" %}
        <picture>
            {% if dir == "portrait" %}
            <source media="(max-height: 800px)" srcset="{{ file.getUrl({ mode: 'fit', height: 800, quality: 55 }) }}" >
            <source media="(max-height: 1280px)" srcset="{{ file.getUrl({ mode: 'fit', height: 1280, quality: 65 }) }}" >
            <img src="{{ file.getUrl({ mode: 'fit', height: 1600, quality: 75 }) }}" alt="{{ file.alt }}" />
            {% else %}
            <source media="(max-aspect-ratio: 3/4) and (max-height: 800px)" srcset="{{ file.getUrl({ mode: 'crop', width: 600, height: 800, quality: 55 }) }}" >
            <source media="(max-aspect-ratio: 3/4)" srcset="{{ file.getUrl({ mode: 'crop', width: 800, height: 1200, quality: 65 }) }}" >
            <img src="{{ file.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }}" srcset="{{ file.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }} 2400w, {{ file.getUrl({ mode: 'fit', width: 1920, quality: 75 }) }} 1920w, {{ file.getUrl({ mode: 'fit', width: 1280, quality: 55 }) }} 1280w" sizes="100vw" alt="{{ file.alt }}" />
            {% endif %}
        </picture>
        {% elseif file.kind == "video" %}
        <video>
            <source src="{{ file.url }}" type="{{ file.mimeType }}" playsinline muted loop>
        </video>
        {% endif %}
    </div>
    {% endif %}

    {% if block.type == "quote" %}
    
    {% if block.quote_presentation %}
    <div class="full-quote">
        {% set file = block.quote_image.one() %}
        {% set dir = file.width < file.height ? "portrait" : "landscape"  %}
        <picture>
            {% if dir == "portrait" %}
            <source media="(max-height: 800px)" srcset="{{ file.getUrl({ mode: 'fit', height: 800, quality: 55 }) }}" >
            <source media="(max-height: 1280px)" srcset="{{ file.getUrl({ mode: 'fit', height: 1280, quality: 65 }) }}" >
            <img src="{{ file.getUrl({ mode: 'fit', height: 1600, quality: 75 }) }}" alt="{{ file.alt }}" />
            {% else %}
            <source media="(max-aspect-ratio: 3/4) and (max-height: 800px)" srcset="{{ file.getUrl({ mode: 'crop', width: 600, height: 800, quality: 55 }) }}" >
            <source media="(max-aspect-ratio: 3/4)" srcset="{{ file.getUrl({ mode: 'crop', width: 800, height: 1200, quality: 65 }) }}" >
            <img src="{{ file.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }}" srcset="{{ file.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }} 2400w, {{ file.getUrl({ mode: 'fit', width: 1920, quality: 75 }) }} 1920w, {{ file.getUrl({ mode: 'fit', width: 1280, quality: 55 }) }} 1280w" sizes="100vw" alt="{{ file.alt }}" />
            {% endif %}
        </picture>
        <div class="quote-content">
            <div class="quote-text">
                <div>{{ block.quote_content }}</div>
            </div>
            {% if block.quote_name is not empty %}<div class="quote-name">{{ block.quote_name }}</div>{% endif %}
        </div>
    </div>
    {% else %}
    <div class="quote col{{ block.quote_image is not empty ? " col--large col--expand" : "" }}">
        {% if block.quote_image is not empty %}
        {% set file = block.quote_image.one() %}
        <picture>
            <img src="{{ file.getUrl({ mode: 'fit', width: widths.standard }) }}" alt="{{ file.alt }}" />
        </picture>
        {% endif %}
        <div class="quote-content">
            <div class="quote-text appear">
                <div>{{ block.quote_content }}</div>
            </div>
            {% if block.quote_name is not empty %}<div class="quote-name appear">{{ block.quote_name }}</div>{% endif %}
        </div>
    </div>
    {% endif %}

    {% endif %}

    {% if block.type == "facts" %}
    <div class="col">
        <div class="facts">
            <div class="facts-pre-title">Fakta</div>
            <h4>{{ block.fact_title }}</h4>
            <div class="facts-content">{{ block.fact_content }}</div>
        </div>
    </div>
    {% endif %}

    {% if block.type == "route_stage" %}
    <div class="route" data-section="{{ block.route_name }}">
        <div class="route-content">
            {% if block.route_media is not empty %}
            {% set file = block.route_media.one() %}
            {% if file.kind == "image" %}
            <picture>
                <source media="(max-aspect-ratio: 3/4)" srcset="{{ file.getUrl({ mode: 'crop', width: 800, height: 1200, quality: 65 }) }}" >
                <img src="{{ file.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }}" srcset="{{ file.getUrl({ mode: 'fit', width: 2400, quality: 75 }) }} 2400w, {{ file.getUrl({ mode: 'fit', width: 1920, quality: 75 }) }} 1920w, {{ file.getUrl({ mode: 'fit', width: 1280, quality: 55 }) }} 1280w" sizes="100vw" alt="{{ file.alt }}" />
            </picture>
            {% elseif file.kind == "video" %}
            <video>
                <source src="{{ file.url }}" type="{{ file.mimeType }}" playsinline muted loop>
            </video>
            {% endif %}
            {% endif %}
            <div class="route-header">
                <div class="route-pre-headline">{{ block.route_time|time('short') }}</div>
                <div class="route-headline">
                    <h2>{{ block.route_title }}</h2>
                </div>
            </div>
            <div class="route-map-target"></div>
        </div>
        <div class="route-trigger"></div>
    </div>
    {% endif %}

    {% endfor %}

    <div class="meta col">
        <div class="published">Publisert: 5. september 2022</div>
    </div>
</article>

<footer>
    <div class="col col--large col--split">
        <div class="footer__logo">                    
            <a href="https://nationen.no" class="nodec">
                <img src="./assets/images/nationen-full-hvit.svg" loading="lazy">
            </a>
        </div>
        <div class="footer__meta">
            <div>
                Ansvarlig redaktør<br>
                <a href="mailto:irene.halvorsen@nationen.no">Irene Halvorsen</a></div>
            <div>
                Nyhetsredaktør<br>
                <a href="mailto:svein.hansli@nationen.no">Svein Ove Hansli</a>
            </div>
            <div>
                <a href="https://www.tunmedia.no/kontakt">Kontakt redaksjonen</a>
            </div>
            <div>
                Nationen arbeider etter <a href="http://presse.no/Etisk-regelverk/Vaer-Varsom-plakaten/">Vær varsom-plakatens regler</a> for god presseskikk.
            </div>
            <div>
                <img style="margin-right: 1rem;" src="https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/icons/rund-sort.png" loading="lazy">
                <img src="https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/icons/NR+ansvarsmerke+svart.png" loading="lazy">
            </div>
        </div>
    </div>
    <div class="col" style="text-align: center;">
        <a href="#top">Rull opp til toppen</a>
    </div>
</footer>

{% js "../assets/js/playground.js" %}

</body>
</html>